<!DOCTYPE html>
<html>
<head>
    <title>graphics package</title>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class="container">
@RenderBody()
</div>
</body>
</html>