@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <title>Transformations</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
    
    <base href="/" />
</head>
<body>

<component type="typeof(TransformationsRouted)" render-mode="Server"/>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/_framework/blazor.server.js"></script>

</body>
</html>