@page "/Transformations/Translation"
@page "/Transformations"
@inject TransformationsFactory Factory
@inject TransformationsState TranState
 

<h3>Translation</h3>
<EditForm Model="@TranslationModel" OnValidSubmit="Submit" class="row g-3">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="col-md-4">
        <label for="Delta_X" class="form-label">Delta X</label>
        <input type="number" class="form-control" id="Delta_X" @bind-value="TranslationModel.delta_x">
    </div>
    <div class="col-md-4">
        <label for="Delta_Y" class="form-label">Delta Y</label>
        <input type="number" class="form-control" id="Delta_Y" @bind-value="TranslationModel.delta_y">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Apply</button>
    </div>
</EditForm>
@code {
    TranslationModel TranslationModel = new();

    public async Task Submit()
    {
        InvokeAsync(HandleValidSubmit);
    }
    public void HandleValidSubmit() => InvokeAsync(Draw);
    public async Task Draw()
    {
        Factory.AddTransformation(TranslationModel);
        TranslationModel = new TranslationModel
        {
            delta_x = TranslationModel.delta_x,
            delta_y = TranslationModel.delta_y
        };
        Factory.ApplyAndSave();
        TranState.NotifyStateChanged();
    }
}