<h1>Choose Shape</h1>
<ul>
    <li><a href="/Draw/LineDDA">Line DDA</a></li>
    <li><a href="/Draw/LineBresenham">Line Bresenham</a></li>
    <li><a href="/Draw/Circle"> Circle</a></li>
    <li><a href="/Draw/Ellipse">Ellipse</a></li>
</ul>

<h1>Choose Transformation</h1>
<ul>
    <li><a href="/Transformations/Translation">Translation</a></li>
    <li><a href="/Transformations/Scaling"> Scaling</a></li>
    <li><a href="/Transformations/Rotation">Rotation</a></li>
    <li><a href="/Transformations/Reflection">Reflection</a></li>
    <li><a href="/Transformations/Shearing">Shearing</a></li>
</ul>