@inherits LayoutComponentBase 


<div class="container">
     
    <div>
        @Body
    </div> 
    <div>
        <NavLink class="btn btn-outline-danger" 
                 href="/Draw/LineDDA" 
                 ActiveClass="btn-danger text-white" 
                 Match="NavLinkMatch.Prefix"> Draw Line DDA 
        </NavLink> 
        <NavLink class="btn btn-outline-danger"  
                 href="/Draw/LineBresenham" 
                 ActiveClass="btn-danger text-white" 
                 Match="NavLinkMatch.Prefix"> Draw Line Bresenham
        </NavLink> 
        <NavLink
            class="btn btn-outline-danger"
            href="/Draw/Circle"
            ActiveClass="btn-danger text-white"
            Match="NavLinkMatch.Prefix">
            Draw Circle
        </NavLink>
        <NavLink
            class="btn btn-outline-danger"
            href="/Draw/Ellipse"
            ActiveClass="btn-danger text-white"
            Match="NavLinkMatch.Prefix">
            Draw Ellipse
        </NavLink>
        
    </div> 
    <br/>
        
        
</div>
