@page "/Draw/LineDDA"


<h3>Draw Line DDA</h3>
<EditForm Model="@line" OnValidSubmit="HandleValidSubmit" class="row g-3">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
   
    <div class="col-md-4">
        <label for="XStart" class="form-label">X Start</label>
        <input type="number" class="form-control" id="XStart" @bind-value="line.XStart">
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <label for="YStart" class="form-label">Y Start</label>
        <input type="number" class="form-control" id="YStart" @bind-value="line.YStart">
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <label for="XEnd" class="form-label">X End</label>
        <input type="number" class="form-control" id="XEnd" @bind-value="line.XEnd">
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <label for="YEnd" class="form-label">Y End</label>
        <input type="number" class="form-control" id="YEnd" @bind-value="line.YEnd">
    </div>

    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  
    
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Draw</button>
    </div>
</EditForm>
<br/>
<br/>
<LineDDATable ShapePoints="@points" />


@code {
    private static int id = 1;
    PointInfo[] points = [];
    private LineModel line = new LineModel
    {
        name = $"Line{id++}", 
        color = "#000000", 
        Algorithm = AlgorithmType.DDALine,
        XStart = 0,
        XEnd = 0,
        YStart = 0,
        YEnd = 0
    };
    
    private async Task HandleValidSubmit()
    {
        points = line.GetIndexes()?.ToArray() ?? [];
    }
}