@page "/Shapes/Circle"


<h3>Circle</h3>
<EditForm Model="@circle" OnValidSubmit="HandleValidSubmit" class="row g-3">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="col-md-4">
        <label for="XStart" class="form-label">X</label>
        <input type="number" class="form-control" id="XStart" @bind-value="circle.X">
    </div>
    <div class="col-md-4">
        <label for="YStart" class="form-label">Y</label>
        <input type="number" class="form-control" id="YStart" @bind-value="circle.Y">
    </div>
    <div class="col-md-4"></div>
    
    <div class="col-md-3">
        <label for="Radius" class="form-label">Radius</label>
        <InputNumber class="form-control" id="Radius" @bind-value="circle.Radius">
        </InputNumber>
    </div>
    
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Calculate</button>
    </div>
</EditForm>
<br/>
<br/>
<Board imgURL="@circle.ImgSrc"></Board>
<CircleBresTable ShapePoints="@points" />

@code {
    
    BresPoint[] points = [];
    private CircleModel circle = new CircleModel
    {
        X = 0,
        Y = 0,
    };

    private void HandleValidSubmit() => InvokeAsync(Draw);
    private async Task Draw()
    {
        points = (circle.GetAllPoints() as IEnumerable<BresPoint>)?.ToArray() ?? [];
        ImageBuilder builder = new();
        circle.ImgSrc = $"{builder.SetShape(circle).Builed().Save("circle")}?v={DateTime.Now.Ticks}";
        StateHasChanged();
    }

}