@page "/Shapes/LineDDA"


<h3>Line DDA</h3>
<EditForm Model="@line" OnValidSubmit="HandleValidSubmit" class="row g-3">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
   
    <div class="col-md-4">
        <label for="XStart" class="form-label">x1</label>
        <input type="number" class="form-control" id="XStart" @bind-value="line.X1">
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <label for="YStart" class="form-label">y1</label>
        <input type="number" class="form-control" id="YStart" @bind-value="line.Y1">
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <label for="XEnd" class="form-label">x2</label>
        <input type="number" class="form-control" id="XEnd" @bind-value="line.X2">
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <label for="YEnd" class="form-label">y2</label>
        <input type="number" class="form-control" id="YEnd" @bind-value="line.Y2">
    </div>

    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  
    
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Draw</button>
    </div>
</EditForm>
<br/>
<br/>
<Board imgURL="@line.ImgSrc"></Board>
<LineDDATable ShapePoints="@points" />


@code {
    Point[] points = [];
    private LineDDAModel line = new LineDDAModel
    {
        X1 = 0,
        X2 = 0,
        Y1 = 0,
        Y2 = 0,
        ImgSrc = null
    };

    private void HandleValidSubmit() => InvokeAsync(Draw);
    private async Task Draw()
    {
        points = line.GetAllPoints()?.ToArray() ?? [];
        ImageBuilder builder = new();

        line.ImgSrc = $"{builder.SetShape(line).Builed().Save("LineDDA")}?v={DateTime.Now.Ticks}";
        StateHasChanged();
    }
}